@page
@model Examen1.Pages.Products.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<form>
    <p>
        Product Name: <input type="text" asp-for="SearchString" />
        <input type="submit" value="Filter" />
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].SupplierID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].CategoryID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].QuantityPerUnit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].UnitPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].UnitsInStock)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].UnitsOnOrder)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].ReorderLevel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].Discontinued)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach /*(var item in Model.Product)*/(var item in Model.Product.Select((value, index) => new { Product = value, Index = index }))
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Product.ProductName)
            </td>
            <td>
                    @*@Html.DisplayFor(modelItem => item.SupplierName)*@
                    @Model.SupplierName[item.Index]
            </td>
            <td>
                   @* @Html.DisplayFor(modelItem => item.Product.CategoryID)*@
                    @Model.CategoryName[item.Index]
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Product.QuantityPerUnit)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Product.UnitPrice)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Product.UnitsInStock)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Product.UnitsOnOrder)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Product.ReorderLevel)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Product.Discontinued)
            </td>
            <td>
                    <a asp-page="./Edit" asp-route-id="@item.Product.ProductID">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.Product.ProductID">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.Product.ProductID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
